{% extends "rankings.html.jinja" %}
{% block title %}
{{ edition.shortname }} - Classements
{% endblock %}
{% block firstranking %}
    {% for ranking in edition.squadRanking %}
        <h2>Classement par équipes {{ranking.name}}</h2>
        <table>
            <thead>
                <tr>{% for column in ranking.headers %}<th>{{column}}</th>{% endfor %}</tr>
            </thead>
            <tbody>{% for row in ranking.rows %}
                <tr>{% for cell in row %}<td>{{cell}}</td>{% endfor %}</tr>
            {% endfor %}</tbody>
        </table>
    {% endfor %}
{% endblock %}
{% block secondranking %}
    {% for ranking in edition.coachRanking %}
        <h2>Classement individuel {{ranking.name}}</h2>
        <table>
            <thead>
                <tr>{% for column in ranking.headers %}<th>{{column}}</th>{% endfor %}</tr>
            </thead>
            <tbody>{% for row in ranking.rows %}
                <tr>{% for cell in row %}<td>{{cell}}</td>{% endfor %}</tr>
            {% endfor %}</tbody>
        </table>
    {% endfor %}
{% endblock %}
